<%= form_with url: '#' do |f| %>
  <%= f.label :search, "ðŸ”", style: 'font-size: 16px' %>

  <%= f.text_field :search, id: 'searchBar', data: { action: 'input->body#search' } %>
  <span data-body-target='searchTermSpan'>...</span>
<% end %>
